@model DAL.Address

@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Zipcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.AddressId }) 
        </td>
    </tr>


</table>
