@model DAL.Person

@{
    ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
           @Html.DisplayFor(model => Model.Age)
        </td>
        <td>
            @Html.DisplayFor(model => Model.FirstName)
        </td>
        <td>
            @Html.DisplayFor(model => Model.LastName)
        </td>
        <td>
            @Html.DisplayFor(model => Model.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.PersonId }) 
        </td>
    </tr>


</table>
