@model IEnumerable<DAL.CreditCard>

@{
    ViewBag.Title = "Credit Cards";
}

<h2>Credit Cards</h2>

<p>
    @Html.ActionLink("Add SPF Card", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationYear)
        </td>
        <td> 
            
            
                
            @if (item.CardType == 2){ @Html.ActionLink("Edit", "Edit", new { id=item.CreditCardId }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.CreditCardId }) }
           
        </td>
    </tr>
}

</table>
