@model IEnumerable<DAL.Transaction>

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditCard.CreditCardId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditCard.CreditCardId)
        </td>

    </tr>
}

</table>
